@import url('https://fonts.googleapis.com/css2?family=Poppins-Light:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 400;    
}

body {
    background: url('assets/images/bg-img.jpg');
    background-size: cover;
}

/* sidenav */
#fix-nav-sv{
    width: 45%;
    height: 100%;
    background: rgba(57, 55, 55, 0.3); /* Light overlay */
    backdrop-filter: blur(20px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.fix-nav{
    background: rgba(57, 55, 55, 0.3); /* Light overlay */
    backdrop-filter: blur(20px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    box-shadow: none !important;
}

.glass-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(57, 55, 55, 0.3); /* Light overlay */
    backdrop-filter: blur(20px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.container {
    position: relative;
    z-index: 2; /* Ensure it is in front of the glass effect */
}

#stick-me{
    color: white;
    position: sticky;
    top: 65px;
}

#section{
    font-weight: 300;
}

#section-desc{
    font-weight: 300;
}

.custom-column-spacing {
    margin-bottom: 20px;
}

.slider .slides li .caption {
    font-family: 'poppins-semibold', sans-serif; 
    font-size: 24px; 
    background-color: rgba(0, 0, 0, 0.205);
    padding: 20px;
}

.slider h5 {
    font-family: 'poppins', sans-serif; 
    font-size: 14px; 
}
