@import url('https://fonts.googleapis.com/css2?family=Poppins-Light:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 100;

}

.name, .desc{
    font-weight: 100;
}

.btn {
    background-color: transparent;
}

.btn {
    font-size: 12px;
    font-weight: 100;
    border: 0.5px solid white; /* Example border color */
    color: #fff; /* Example text color */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.1); /* Example hover background color */
}

body {
    background: url('assets/images/bg-img.jpg');
    background-size: cover;
}


.fix-nav {
    box-shadow: none !important;
}

.glass-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(57, 55, 55, 0.3); /* Light overlay */
    backdrop-filter: blur(20px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.container {
    position: relative;
    z-index: 2; /* Ensure it is in front of the glass effect */
    padding: 20px;
}
